body {
	background-image:url(laptop.jpg);
	background-position: center;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 2rem;
}

.title {
		color: white;
		display: flex;
		flex-wrap:wrap;
		justify-content: center;
		margin-top: 200px;
}

.form {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	margin-top: 20px;
}
