body {
	background-image:url(https://images.pexels.com/photos/177598/pexels-photo-177598.jpeg?cs=srgb&dl=background-code-coder-177598.jpg&fm=jpg);
	background-position: center;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 2rem;
}

.title {
		color: white;
		display: flex;
		flex-wrap:wrap;
		justify-content: center;
		margin-top: 200px;
}

.form {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	margin-top: 20px;
}
